{% extends "base.html" %}

{% block page_content %}

<div class="col-md-8 offset-md-2">
    <h1>Blog Index</h1>
    {% for post in posts %}
    <h2><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
    <div>
        {% if post.cover_img %}
            <img src="{{ post.cover_img.url }}" alt="" width="200">
        {% else %} 
            <span class="text-muted">No IMAGE</span>
        {% endif %}
    </div>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.body | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}