{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
        <div class="card mb-4">
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4"><a href="{% url 'blog_detail' post.id %}">{{ post.title }}</a></p>
                </div>
            </div>
        
            <div class="content">
                <small class="text-muted">
                    {% for category in post.categories.all %}
                        <span class="fa fa-tags">
                            <a class="badge badge-light has-background-primary-ligh" id="cat"  href="{% url 'blog_category' category.name %}">{{ category.name }}</a>
                        </span>
                    {% endfor %}
                </small>
                <br>
                <time>{{ post.created_at|date:"d b Y H:i" }}</time>
            </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

