{% extends 'base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="card mb-4">
           
            <div class="card-content">
                <div class="media">
                    {% for category in post.categories.all %}
                        {% if category.category_img %}
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="{{ category.category_img.url }}" alt="Placeholder image">
                                </figure>
                            </div>
                        {% else %} 
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                </figure>
                            </div>
                        {% endif %}
                    {% endfor %}
                <div class="media-content">
                    <p class="title is-4"><a href="{% url 'blog_detail' post.id %}">{{ post.title }}</a></p>
                </div>
            </div>
        
            <div class="content">
                <small class="text-muted">
                    {% for category in post.categories.all %}
                        <span class="fa fa-tags">
                            <a class="badge badge-light has-text-dark"  href="{% url 'blog_category' category.name %}">{{ category.name }}</a>
                        </span>
                    {% endfor %}
                </small>
                <p>{{ post.body | slice:":150"}}...</p>
                <br>
                <time>{{ post.created_at|date:"d b Y H:i" }}</time>
            </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}